root = true

[*]
end_of_line = crlf
insert_final_newline = false
charset = utf-8
trim_trailing_whitespace = true
quote_type = double

[{src,scripts}/**.{ts,json,js}]
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
quote_type = double

[tslint.json]
indent_size = 2