{
  "prettier.useTabs": false,
  "prettier.printWidth": 90,
  "prettier.tabWidth": 2,
  "prettier.singleQuote": false,
  "prettier.trailingComma": "none",
  "prettier.jsxBracketSameLine": false,
  "prettier.parser": "babylon",
  "prettier.semi": true
}
